*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

header h4{
    position: fixed;
    cursor: pointer;
    left: 2.5%;
    top: 2.5%;
    bottom: 1rem;
    font-size: 1.2rem;
    color: #212121;
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFC11D;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #212121;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 7rem;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

body{
    background-color: #ffffff;
    overscroll-behavior: none;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 4000px;
    height: 100%;
}

.slider-inner{
    position: absolute;
    top: 15%;
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item{
    position: relative;
    left: 0;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

.img{
    position: absolute;
    left: -100px;
    width: 450px;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
}
 
a.btn {
    -webkit-transform: translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
    color: #2d2d2d;
    padding: 14px 24px 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    position: fixed;
    bottom: 5%;
    left: 47.5%;
    overflow: hidden;
    text-decoration: none;
    display: block;
    width: 90px;
    margin: 20px auto;
    text-align: center;
  }

a.btn:after {
    padding: 0;
    border: 2px solid #000000;
    content: '';
    width: 95%;
    height: 46px;
    display: block;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
  }
  
a.btn:before {
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    content: '';
    width: 100%;
    height: 60px;
    display: block;
    position: fixed;
    z-index: -1;
    border-left: 15px solid white;
    box-shadow: -20px 30px 30px white;
    background: transparent;
    top: 0px;
    left: -15px;
    margin-left: -1px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

a.btn:hover:before, a.btn:active:before, a.btn:focus:before {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translate(115%, 0);
    -moz-transform: translate(115%, 0);
    -ms-transform: translate(115%, 0);
    -o-transform: translate(115%, 0);
    transform: translate(115%, 0);
  }